---
layout: default
---
<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact Me</h3>
      <ul>
        {% if site.email %}
          <li><a href="mailto:{{site.email}}" data-goatcounter-click="email" data-umami-event="email" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
        {% if site.bandcamp %}
          <li><a href="https://{{ site.bandcamp }}" data-goatcounter-click="bandcamp" data-umami-event="bandcamp" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.facebook %}
          <li><a href="https://www.facebook.com/{{ site.facebook }}" data-goatcounter-click="facebook" data-umami-event="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.github %}
          <li><a href="https://github.com/{{site.github}}" data-goatcounter-click="github" data-umami-event="github" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        {% endif %}
        {% if site.instagram %}
          <li><a href="https://www.instagram.com/{{site.instagram}}" data-goatcounter-click="instagram" data-umami-event="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        {% endif %}
        {% if site.linkedin %}
          <li><a href="https://www.linkedin.com/{{site.linkedin}}" data-goatcounter-click="linkedin" data-umami-event="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.mastodon %}
          <li><a href="https://{{site.mastodon}}" rel="me" data-goatcounter-click="mastodon" data-umami-event="mastodon" target="_blank"><i class="fa fa-mastodon"></i></a></li>
        {% endif %}
        {% if site.paypal %}
          <li><a href="https://{{site.paypal}}" data-goatcounter-click="paypal" data-umami-event="paypal" target="_blank"><i class="fa fa-paypal"></i></a></li>
        {% endif %}
        {% if site.twitter %}
          <li><a href="https://twitter.com/{{ site.twitter }}" data-goatcounter-click="twitter" data-umami-event="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.youtube %}
          <li><a href="https://www.youtube.com/{{ site.youtube }}" data-goatcounter-click="youtube" data-umami-event="youtube" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>